* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html, main {
    height: 100%;
    width: 100%;
}

body {
    margin: auto;
    display: flex;
    width: 70%;
    height: 100%;
    border-left: 1px;
    border-right: 1px;
    background-color: #FFEFEF;
}

@media (max-width : 1080px) {
    body {
        width: 100%;
        background-color: white;
    }
}

main {
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.border {
    border-style: solid;
    border-color: black;
}


#side-bar {
    padding: 1% 50px 0px;
    border-right-width: 1px;
    background-color: #E7BCDE;
}

#home {
    border-width: 1px;
    background-color: white;
}

#dirs {
    display: flex;
    flex-direction: column;
    font-size: medium;
}

#dirs > ul > li {
    padding: 3px 0px;
}

#dirs > h1 {
    padding-top: 3%;
}

#top-bar {
    padding: 0.5% 0% 0.5% 2px;
    border-bottom-width: 1px;
    background-color: #BB9CC0;
    color: blue;
}

#content {
    padding: 10px
}