* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

html, body, main {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
}

.border {
    border-style: solid;
    border-color: black;
}


#side-bar {
    padding: 1% 49px 0px;
    border-right-width: 1px;
    background-color: darkgray;
}

#home {
    border-width: 1px;
    background-color: white;
}

#dirs {
    display: flex;
    flex-direction: column;
    font-size: medium;
}

#dirs > ul > li {
    padding: 3px 0px;
}

#dirs > h1 {
    padding-top: 3%;
}

#top-bar {
    padding: 0.5% 0% 0.5% 2px;
    border-bottom-width: 1px;
    background-color: grey;
    color: blue;
}